// Catalog.rc
ICON_MEDCERTI ICON Other/MedCerti.ico
ICON_CULTURELAND ICON Other/CultureLand.ico
ICON_ILOGENENTERPRISE ICON Other/ILogenEnterprise.ico
ICON_MSAFER ICON Other/MSafer.ico
ICON_CONTINSURE ICON Other/ContInsure.ico
ICON_CASHBEE ICON Other/Cashbee.ico
ICON_SEMA ICON Other/Sema.ico
ICON_TMONEY ICON Other/Tmoney.ico
ICON_KTCU ICON Other/KTCU.ico
ICON_PAYINFO ICON Other/PayInfo.ico
ICON_TEACHERSPENSION ICON Other/TeachersPension.ico
ICON_HAPPYMONEY ICON Other/HappyMoney.ico
ICON_HIPASS ICON Other/HiPass.ico
ICON_WEHAGO ICON Other/Wehago.ico
ICON_BIZGIRO ICON Other/BizGiro.ico
ICON_WEBMINWON ICON Education/Webminwon.ico
ICON_DONGGUKUDRIMS ICON Education/DonggukUdrims.ico
ICON_NEIS ICON Education/Neis.ico
ICON_KNOU ICON Education/Knou.ico
ICON_CNU ICON Education/CNU.ico
ICON_SCU ICON Education/SCU.ico
ICON_GTEC ICON Education/GTEC.ico
ICON_CERTPIA ICON Education/Certpia.ico
ICON_INHAUNIV ICON Education/InhaUniv.ico
ICON_ACCUONSAVINGSBANK ICON Financing/AccuonSavingsBank.ico
ICON_HBSAVINGSBANK ICON Financing/HBSavingsBank.ico
ICON_KIWOOMYESSAVINGSBANK ICON Financing/KiwoomYesSavingsBank.ico
ICON_KUEMHWASAVINGSBANK ICON Financing/KuemhwaSavingsBank.ico
ICON_DBSAVINGSBANK ICON Financing/DBSavingsBank.ico
ICON_CHSAVINGSBANK ICON Financing/ChSavingsBank.ico
ICON_JTSAVINGSBANK ICON Financing/JTSavingsBank.ico
ICON_INSUNGSAVINGSBANK ICON Financing/InsungSavingsBank.ico
ICON_DOUBLESAVINGSBANK ICON Financing/DoubleSavingsBank.ico
ICON_ESSAVINGSBANK ICON Financing/ESSavingsBank.ico
ICON_SANGSANGINSAVINGSBANK ICON Financing/SangSangInSavingsBank.ico
ICON_CKSAVINGSBANK ICON Financing/CKSavingsBank.ico
ICON_NHSAVINGSBANK ICON Financing/NHSavingsBank.ico
ICON_HKSAVINGSBANK ICON Financing/HkSavingsBank.ico
ICON_GORYOSAVINGSBANK ICON Financing/GoryoSavingsBank.ico
ICON_ANGUKSAVINGSBANK ICON Financing/AngukSavingsBank.ico
ICON_HSSAVINGSBANK ICON Financing/HsSavingsBank.ico
ICON_DAISHINSAVINGSBANK ICON Financing/DaishinSavingsBank.ico
ICON_KIWOOMSAVINGSBANK ICON Financing/KiwoomSavingsBank.ico
ICON_SKYSAVINGSBANK ICON Financing/SkySavingsBank.ico
ICON_OSUNGSAVINGSBANK ICON Financing/OsungSavingsBank.ico
ICON_SAMILSAVINGSBANK ICON Financing/SamilSavingsBank.ico
ICON_KUKJESAVINGSBANK ICON Financing/KukjeSavingsBank.ico
ICON_YEGARAMSAVINGSBANK ICON Financing/YegaramSavingsBank.ico
ICON_MOASAVINGSBANK ICON Financing/MoaSavingsBank.ico
ICON_SOULBRAINSAVINGSBANK ICON Financing/SoulBrainSavingsBank.ico
ICON_WOORISAVINGSBANK ICON Financing/WooriSavingsBank.ico
ICON_UNIONSAVINGSBANK ICON Financing/UnionSavingsBank.ico
ICON_DEBECSAVINGSBANK ICON Financing/DebecSavingsBank.ico
ICON_IBKSAVINGSBANK ICON Financing/IBKSavingsBank.ico
ICON_CHOEUNSAVINGSBANK ICON Financing/ChoeunSavingsBank.ico
ICON_SNTSAVINGSBANK ICON Financing/SNTSavingsBank.ico
ICON_THEKSAVINGSBANK ICON Financing/TheKSavingsBank.ico
ICON_PEPPERSAVINGSBANK ICON Financing/PepperSavingsBank.ico
ICON_EUGENESAVINGSBANK ICON Financing/EugeneSavingsBank.ico
ICON_DREAMSAVINGSBANK ICON Financing/DreamSavingsBank.ico
ICON_OKSAVINGSBANK ICON Financing/OKSavingsBank.ico
ICON_RAONSAVINGSBANK ICON Financing/RaonSavingsBank.ico
ICON_MKSAVINGSBANK ICON Financing/MKSavingsBank.ico
ICON_INCHEONSAVINGSBANK ICON Financing/IncheonSavingsBank.ico
ICON_PUREUNSAVINGSBANK ICON Financing/PureunSavingsBank.ico
ICON_SMARTSAVINGSBANK ICON Financing/SmartSavingsBank.ico
ICON_NAMYANGSAVINGSBANK ICON Financing/NamyangSavingsBank.ico
ICON_WELCOMESAVINGSBANK ICON Financing/WelcomeSavingsBank.ico
ICON_ASANSAVINGSBANK ICON Financing/AsanSavingsBank.ico
ICON_YUANTASAVINGSBANK ICON Financing/YuantaSavingsBank.ico
ICON_CHARMSAVINGSBANK ICON Financing/CharmSavingsBank.ico
ICON_MSSAVINGSBANK ICON Financing/MSSavingsBank.ico
ICON_DAEMYUNGSAVINGSBANK ICON Financing/DaemyungSavingsBank.ico
ICON_O2SAVINGSBANK ICON Financing/O2SavingsBank.ico
ICON_BAROSAVINGSBANK ICON Financing/BaroSavingsBank.ico
ICON_PTSAVINGSBANK ICON Financing/PtSavingsBank.ico
ICON_SAMJUNGSAVINGSBANK ICON Financing/SamjungSavingsBank.ico
ICON_STARSAVINGSBANK ICON Financing/StarSavingsBank.ico
ICON_TRUEFRIENDSAVINGSBANK ICON Financing/TrueFriendSavingsBank.ico
ICON_ANYANGSAVINGSBANK ICON Financing/AnyangSavingsBank.ico
ICON_YOUNGJINSAVINGSBANK ICON Financing/YoungjinSavingsBank.ico
ICON_DHSAVINGSBANK ICON Financing/DHSavingsBank.ico
ICON_SERAMSAVINGSBANK ICON Financing/SeramSavingsBank.ico
ICON_KBSAVINGSBANK ICON Financing/KBSavingsBank.ico
ICON_DONGYANGSAVINGSBANK ICON Financing/DongyangSavingsBank.ico
ICON_SHINHANSAVINGSBANK ICON Financing/ShinhanSavingsBank.ico
ICON_BULIMSAVINGSBANK ICON Financing/BulimSavingsBank.ico
ICON_BNKSAVINGSBANK ICON Financing/BNKSavingsBank.ico
ICON_JTCHINAESAVINGSBANK ICON Financing/JTChinaeSavingsBank.ico
ICON_SANGSANGINPLUSSAVINGSBANK ICON Financing/SangSangInPlusSavingsBank.ico
ICON_HANASAVINGSBANK ICON Financing/HanaSavingsBank.ico
ICON_YCSAVINGSBANK ICON Financing/YCSavingsBank.ico
ICON_SAMHOSAVINGSBANK ICON Financing/SamhoSavingsBank.ico
ICON_CENTRALSAVINGSBANK ICON Financing/CentralSavingsBank.ico
ICON_DONGWONJEILSAVINGSBANK ICON Financing/DongwonJeilSavingsBank.ico
ICON_OSBSAVINGSBANK ICON Financing/OSBSavingsBank.ico
ICON_JINJUSAVINGSBANK ICON Financing/JinjuSavingsBank.ico
ICON_DAEHANSAVINGSBANK ICON Financing/DaehanSavingsBank.ico
ICON_CHEONGJUSAVINGSBANK ICON Financing/CheongjuSavingsBank.ico
ICON_WOOREESAVINGSBANK ICON Financing/WooreeSavingsBank.ico
ICON_HANWHASAVINGSBANK ICON Financing/HanwhaSavingsBank.ico
ICON_SBISAVINGSBANK ICON Financing/SBISavingsBank.ico
ICON_DSAVINGSBANK ICON Financing/DSavingsBank.ico
ICON_DAEASAVINGSBANK ICON Financing/DaeaSavingsBank.ico
ICON_KIBO ICON Government/Kibo.ico
ICON_VACCINATIONHELPER ICON Government/VaccinationHelper.ico
ICON_TRUSBILL ICON Government/Trusbill.ico
ICON_CCRS ICON Government/CCRS.ico
ICON_SCOURT ICON Government/Scourt.ico
ICON_UNIPASS ICON Government/Unipass.ico
ICON_CMSEDI ICON Government/CMSEDI.ico
ICON_ETAXSEOUL ICON Government/ETaxSeoul.ico
ICON_EFAMILY ICON Government/eFamily.ico
ICON_ECAR ICON Government/ECar.ico
ICON_GHEALTH ICON Government/GHealth.ico
ICON_HOMETAX ICON Government/Hometax.ico
ICON_4INSURE ICON Government/4Insure.ico
ICON_NEXTSHARE ICON Government/NextShare.ico
ICON_GUBSPB ICON Government/Gubspb.ico
ICON_KORHOUSEFINANCE ICON Government/KorHouseFinance.ico
ICON_RESERVEFORCES ICON Government/ReserveForces.ico
ICON_GOV24 ICON Government/Gov24.ico
ICON_IROS ICON Government/Iros.ico
ICON_NHIS ICON Government/NHIS.ico
ICON_CARDROTAX ICON Government/Cardrotax.ico
ICON_MYDATAPORTAL ICON Government/MyDataPortal.ico
ICON_KSURECYBERCENTER ICON Government/KSureCyberCenter.ico
ICON_BILLINGONEPLUS ICON Government/BillingOnePlus.ico
ICON_KFTCVAN ICON Government/KFTCVAN.ico
ICON_KOREAGOVMAIL ICON Government/KoreaGovMail.ico
ICON_NARABILL ICON Government/Narabill.ico
ICON_W4C ICON Government/W4C.ico
ICON_WETAX ICON Government/Wetax.ico
ICON_KGEOPLATFORM ICON Government/KGeoPlatform.ico
ICON_RPSKENERGY ICON Government/RpsKEnergy.ico
ICON_KMRS ICON Government/Kmrs.ico
ICON_CMSJIROEDI ICON Government/CMSJiroEdi.ico
ICON_ECFS ICON Government/Ecfs.ico
ICON_WORK24 ICON Government/Work24.ico
ICON_Q-NET ICON Government/Q-net.ico
ICON_SAMSUNGCARD ICON CreditCard/SamsungCard.ico
ICON_LOTTECARD ICON CreditCard/LotteCard.ico
ICON_EHYUNDAICARD ICON CreditCard/eHyundaiCard.ico
ICON_BCCARD ICON CreditCard/BCCard.ico
ICON_HYUNDAICARD ICON CreditCard/HyundaiCard.ico
ICON_HANACARD ICON CreditCard/Hanacard.ico
ICON_WOORICARD ICON CreditCard/Wooricard.ico
ICON_NHCARD ICON CreditCard/NHCard.ico
ICON_SHINHANCARD ICON CreditCard/ShinhanCard.ico
ICON_KBKOOKMINCARD ICON CreditCard/KBKookminCard.ico
ICON_DBSECURITY ICON Security/DBSecurity.ico
ICON_KIWOOMSECURITY ICON Security/KiwoomSecurity.ico
ICON_MERITZSECURITY ICON Security/MeritzSecurity.ico
ICON_SHINYOUNGSECURITY ICON Security/ShinyoungSecurity.ico
ICON_EUGENESECURITY ICON Security/EugeneSecurity.ico
ICON_WOORIINVEST ICON Security/WooriInvest.ico
ICON_HISECURITY ICON Security/HiSecurity.ico
ICON_KYOBOSECURITY ICON Security/KyoboSecurity.ico
ICON_SAMSUNGSECURITY ICON Security/SamsungSecurity.ico
ICON_BOOKOOKSECURITY ICON Security/BookookSecurity.ico
ICON_SKSECURITY ICON Security/SKSecurity.ico
ICON_KBSECURITY ICON Security/KBSecurity.ico
ICON_PATH19289 ICON Security/path19289.ico
ICON_TRUEFRIENDSECURITY ICON Security/TrueFriendSecurity.ico
ICON_NHSECURITY ICON Security/NHSecurity.ico
ICON_MYASSETSECURITY ICON Security/MyAssetSecurity.ico
ICON_DAISHINSECURITY ICON Security/DaishinSecurity.ico
ICON_HYUNDAICARSECURITY ICON Security/HyundaiCarSecurity.ico
ICON_SHINHANSECURITY ICON Security/ShinhanSecurity.ico
ICON_IBKSECURITY ICON Security/IBKSecurity.ico
ICON_CAPESECURITY ICON Security/CapeSecurity.ico
ICON_HANASECURITY ICON Security/HanaSecurity.ico
ICON_EBESTSECURITY ICON Security/EBestSecurity.ico
ICON_HANWHASECURITY ICON Security/HanwhaSecurity.ico
ICON_MIRAEASSETSECURITY ICON Security/MiraeAssetSecurity.ico
ICON_SHINTERNETBANKBIZ ICON Banking/SHInternetBankBiz.ico
ICON_BNKKYUNGNAMBANKBIZ ICON Banking/BnkKyungNamBankBiz.ico
ICON_KDBBANK ICON Banking/KDBBank.ico
ICON_STANDARDCHARTEREDBANKBIZ ICON Banking/StandardCharteredBankBiz.ico
ICON_KOOKMINBANKBIZ ICON Banking/KookminBankBiz.ico
ICON_MGSAEMAEULBIZ ICON Banking/MGSaemaeulBiz.ico
ICON_DGBDAEGUBANKBIZ ICON Banking/DGBDaeguBankBiz.ico
ICON_BNKKYUNGNAMBANK ICON Banking/BnkKyungNamBank.ico
ICON_KEBHANABANK ICON Banking/KEBHanaBank.ico
ICON_KEBHANABANKBIZ ICON Banking/KEBHanaBankBiz.ico
ICON_SHINHANBANKBIZ ICON Banking/ShinhanBankBiz.ico
ICON_IBKBANK ICON Banking/IBKBank.ico
ICON_CITIBANKKOREA ICON Banking/CitiBankKorea.ico
ICON_STANDARDCHARTEREDBANK ICON Banking/StandardCharteredBank.ico
ICON_EPOSTBANKBIZ ICON Banking/ePostBankBiz.ico
ICON_BUSANBANKBIZ ICON Banking/BusanBankBiz.ico
ICON_KAKAOBANKBIZ ICON Banking/KakaoBankBiz.ico
ICON_NHINTERNETBANKBIZ ICON Banking/NHInternetBankBiz.ico
ICON_KAKAOBANK ICON Banking/KakaoBank.ico
ICON_NHINTERNETBANK ICON Banking/NHInternetBank.ico
ICON_BUSANBANK ICON Banking/BusanBank.ico
ICON_CITIBANKKOREABIZ ICON Banking/CitiBankKoreaBiz.ico
ICON_EPOSTBANK ICON Banking/ePostBank.ico
ICON_JEJUBANK ICON Banking/JejuBank.ico
ICON_JBBANKBIZ ICON Banking/JbBankBiz.ico
ICON_MGSAEMAEUL ICON Banking/MGSaemaeul.ico
ICON_GWANGJUBANKBIZ ICON Banking/GwangjuBankBiz.ico
ICON_JBBANK ICON Banking/JbBank.ico
ICON_KBANK ICON Banking/KBank.ico
ICON_KDBBANKBIZ ICON Banking/KDBBankBiz.ico
ICON_GWANGJUBANK ICON Banking/GwangjuBank.ico
ICON_SHINHANBANK ICON Banking/ShinhanBank.ico
ICON_WOORIBANK ICON Banking/WooriBank.ico
ICON_SMBCSEOUL ICON Banking/SMBCSeoul.ico
ICON_SHINHYUBBIZ ICON Banking/ShinhyubBiz.ico
ICON_IBKBANKBIZ ICON Banking/IBKBankBiz.ico
ICON_DGBDAEGUBANK ICON Banking/DGBDaeguBank.ico
ICON_SHINTERNETBANK ICON Banking/SHInternetBank.ico
ICON_KOOKMINBANK ICON Banking/KookminBank.ico
ICON_SHINHYUB ICON Banking/Shinhyub.ico
ICON_WOORIBANKBIZ ICON Banking/WooriBankBiz.ico
ICON_KBANKBIZ ICON Banking/KBankBiz.ico
ICON_SANRIMJOHAB ICON Banking/SanrimJohab.ico
ICON_KDBLIFE ICON Insurance/KdbLife.ico
ICON_EDUCAR ICON Insurance/Educar.ico
ICON_ACEINSURANCE ICON Insurance/AceInsurance.ico
ICON_NHLIFE ICON Insurance/NHLife.ico
ICON_CIGNALIFE ICON Insurance/CignaLife.ico
ICON_ABLLIFE ICON Insurance/AblLife.ico
ICON_AIGINSURANCE ICON Insurance/AigInsurance.ico
ICON_KBLIFE ICON Insurance/KbLife.ico
ICON_HANWHALIFE ICON Insurance/HanwhaLife.ico
ICON_HANALIFE ICON Insurance/HanaLife.ico
ICON_AXAINSURANCE ICON Insurance/AxaInsurance.ico
ICON_SEOULGUARANTYINSURANCE ICON Insurance/SeoulGuarantyInsurance.ico
ICON_MGINSURANCE ICON Insurance/MgInsurance.ico
ICON_HYUNDAIINSURANCE ICON Insurance/HyundaiInsurance.ico
ICON_MIRAEASSETLIFE ICON Insurance/MiraeAssetLife.ico
ICON_DONGYANGLIFE ICON Insurance/DongyangLife.ico
ICON_DBINSURANCE ICON Insurance/DbInsurance.ico
ICON_DGBLIFE ICON Insurance/DgbLife.ico
ICON_SAMSUNGFIRE ICON Insurance/SamsungFire.ico
ICON_SAMSUNGLIFE ICON Insurance/SamsungLife.ico
ICON_HEUNGKUKFIRE ICON Insurance/HeungkukFire.ico
ICON_CARROTINSURANCE ICON Insurance/CarrotInsurance.ico
ICON_KYOBOLIFE ICON Insurance/KyoboLife.ico
ICON_CARDIFLIFE ICON Insurance/CardifLife.ico
ICON_METLIFE ICON Insurance/Metlife.ico
ICON_CHUBBLIFE ICON Insurance/ChubbLife.ico
ICON_IBKANNUITYINSURANCE ICON Insurance/IbkAnnuityInsurance.ico
ICON_PRUDENTIALLIFE ICON Insurance/PrudentialLife.ico
ICON_DBLIFE ICON Insurance/DbLife.ico
ICON_HANWHAINSURANCE ICON Insurance/HanwhaInsurance.ico
ICON_EPOSTLIFE ICON Insurance/ePostLife.ico
ICON_HEUNGKUKLIFE ICON Insurance/HeungkukLife.ico
ICON_KYOBOLIFEPLANET ICON Insurance/KyoboLifePlanet.ico
ICON_MERITZFIRE ICON Insurance/MeritzFire.ico
ICON_SHINHANLIFE ICON Insurance/ShinhanLife.ico
ICON_CARDIFINSURANCE ICON Insurance/CardifInsurance.ico
ICON_LOTTEINSURANCE ICON Insurance/LotteInsurance.ico
ICON_FUBONHYUNDAILIFE ICON Insurance/FubonHyundaiLife.ico
ICON_AIALIFE ICON Insurance/AiaLife.ico
ICON_KBINSURANCE ICON Insurance/KbInsurance.ico
ICON_NHINSURANCE ICON Insurance/NhInsurance.ico
