// Catalog.rc
ICON_MEDCERTI ICON "images/Other/MedCerti.ico"
ICON_CULTURELAND ICON "images/Other/CultureLand.ico"
ICON_ILOGENENTERPRISE ICON "images/Other/ILogenEnterprise.ico"
ICON_MSAFER ICON "images/Other/MSafer.ico"
ICON_CONTINSURE ICON "images/Other/ContInsure.ico"
ICON_CASHBEE ICON "images/Other/Cashbee.ico"
ICON_SEMA ICON "images/Other/Sema.ico"
ICON_TMONEY ICON "images/Other/Tmoney.ico"
ICON_KTCU ICON "images/Other/KTCU.ico"
ICON_PAYINFO ICON "images/Other/PayInfo.ico"
ICON_TEACHERSPENSION ICON "images/Other/TeachersPension.ico"
ICON_HAPPYMONEY ICON "images/Other/HappyMoney.ico"
ICON_HIPASS ICON "images/Other/HiPass.ico"
ICON_WEHAGO ICON "images/Other/Wehago.ico"
ICON_BIZGIRO ICON "images/Other/BizGiro.ico"
ICON_WEBMINWON ICON "images/Education/Webminwon.ico"
ICON_DONGGUKUDRIMS ICON "images/Education/DonggukUdrims.ico"
ICON_NEIS ICON "images/Education/Neis.ico"
ICON_KNOU ICON "images/Education/Knou.ico"
ICON_CNU ICON "images/Education/CNU.ico"
ICON_SCU ICON "images/Education/SCU.ico"
ICON_GTEC ICON "images/Education/GTEC.ico"
ICON_CERTPIA ICON "images/Education/Certpia.ico"
ICON_INHAUNIV ICON "images/Education/InhaUniv.ico"
ICON_ACCUONSAVINGSBANK ICON "images/Financing/AccuonSavingsBank.ico"
ICON_HBSAVINGSBANK ICON "images/Financing/HBSavingsBank.ico"
ICON_KIWOOMYESSAVINGSBANK ICON "images/Financing/KiwoomYesSavingsBank.ico"
ICON_KUEMHWASAVINGSBANK ICON "images/Financing/KuemhwaSavingsBank.ico"
ICON_DBSAVINGSBANK ICON "images/Financing/DBSavingsBank.ico"
ICON_CHSAVINGSBANK ICON "images/Financing/ChSavingsBank.ico"
ICON_JTSAVINGSBANK ICON "images/Financing/JTSavingsBank.ico"
ICON_INSUNGSAVINGSBANK ICON "images/Financing/InsungSavingsBank.ico"
ICON_DOUBLESAVINGSBANK ICON "images/Financing/DoubleSavingsBank.ico"
ICON_ESSAVINGSBANK ICON "images/Financing/ESSavingsBank.ico"
ICON_SANGSANGINSAVINGSBANK ICON "images/Financing/SangSangInSavingsBank.ico"
ICON_CKSAVINGSBANK ICON "images/Financing/CKSavingsBank.ico"
ICON_NHSAVINGSBANK ICON "images/Financing/NHSavingsBank.ico"
ICON_HKSAVINGSBANK ICON "images/Financing/HkSavingsBank.ico"
ICON_GORYOSAVINGSBANK ICON "images/Financing/GoryoSavingsBank.ico"
ICON_ANGUKSAVINGSBANK ICON "images/Financing/AngukSavingsBank.ico"
ICON_HSSAVINGSBANK ICON "images/Financing/HsSavingsBank.ico"
ICON_DAISHINSAVINGSBANK ICON "images/Financing/DaishinSavingsBank.ico"
ICON_KIWOOMSAVINGSBANK ICON "images/Financing/KiwoomSavingsBank.ico"
ICON_SKYSAVINGSBANK ICON "images/Financing/SkySavingsBank.ico"
ICON_OSUNGSAVINGSBANK ICON "images/Financing/OsungSavingsBank.ico"
ICON_SAMILSAVINGSBANK ICON "images/Financing/SamilSavingsBank.ico"
ICON_KUKJESAVINGSBANK ICON "images/Financing/KukjeSavingsBank.ico"
ICON_YEGARAMSAVINGSBANK ICON "images/Financing/YegaramSavingsBank.ico"
ICON_MOASAVINGSBANK ICON "images/Financing/MoaSavingsBank.ico"
ICON_SOULBRAINSAVINGSBANK ICON "images/Financing/SoulBrainSavingsBank.ico"
ICON_WOORISAVINGSBANK ICON "images/Financing/WooriSavingsBank.ico"
ICON_UNIONSAVINGSBANK ICON "images/Financing/UnionSavingsBank.ico"
ICON_DEBECSAVINGSBANK ICON "images/Financing/DebecSavingsBank.ico"
ICON_IBKSAVINGSBANK ICON "images/Financing/IBKSavingsBank.ico"
ICON_CHOEUNSAVINGSBANK ICON "images/Financing/ChoeunSavingsBank.ico"
ICON_SNTSAVINGSBANK ICON "images/Financing/SNTSavingsBank.ico"
ICON_THEKSAVINGSBANK ICON "images/Financing/TheKSavingsBank.ico"
ICON_PEPPERSAVINGSBANK ICON "images/Financing/PepperSavingsBank.ico"
ICON_EUGENESAVINGSBANK ICON "images/Financing/EugeneSavingsBank.ico"
ICON_DREAMSAVINGSBANK ICON "images/Financing/DreamSavingsBank.ico"
ICON_OKSAVINGSBANK ICON "images/Financing/OKSavingsBank.ico"
ICON_RAONSAVINGSBANK ICON "images/Financing/RaonSavingsBank.ico"
ICON_MKSAVINGSBANK ICON "images/Financing/MKSavingsBank.ico"
ICON_INCHEONSAVINGSBANK ICON "images/Financing/IncheonSavingsBank.ico"
ICON_PUREUNSAVINGSBANK ICON "images/Financing/PureunSavingsBank.ico"
ICON_SMARTSAVINGSBANK ICON "images/Financing/SmartSavingsBank.ico"
ICON_NAMYANGSAVINGSBANK ICON "images/Financing/NamyangSavingsBank.ico"
ICON_WELCOMESAVINGSBANK ICON "images/Financing/WelcomeSavingsBank.ico"
ICON_ASANSAVINGSBANK ICON "images/Financing/AsanSavingsBank.ico"
ICON_YUANTASAVINGSBANK ICON "images/Financing/YuantaSavingsBank.ico"
ICON_CHARMSAVINGSBANK ICON "images/Financing/CharmSavingsBank.ico"
ICON_MSSAVINGSBANK ICON "images/Financing/MSSavingsBank.ico"
ICON_DAEMYUNGSAVINGSBANK ICON "images/Financing/DaemyungSavingsBank.ico"
ICON_O2SAVINGSBANK ICON "images/Financing/O2SavingsBank.ico"
ICON_BAROSAVINGSBANK ICON "images/Financing/BaroSavingsBank.ico"
ICON_PTSAVINGSBANK ICON "images/Financing/PtSavingsBank.ico"
ICON_SAMJUNGSAVINGSBANK ICON "images/Financing/SamjungSavingsBank.ico"
ICON_STARSAVINGSBANK ICON "images/Financing/StarSavingsBank.ico"
ICON_TRUEFRIENDSAVINGSBANK ICON "images/Financing/TrueFriendSavingsBank.ico"
ICON_ANYANGSAVINGSBANK ICON "images/Financing/AnyangSavingsBank.ico"
ICON_YOUNGJINSAVINGSBANK ICON "images/Financing/YoungjinSavingsBank.ico"
ICON_DHSAVINGSBANK ICON "images/Financing/DHSavingsBank.ico"
ICON_SERAMSAVINGSBANK ICON "images/Financing/SeramSavingsBank.ico"
ICON_KBSAVINGSBANK ICON "images/Financing/KBSavingsBank.ico"
ICON_DONGYANGSAVINGSBANK ICON "images/Financing/DongyangSavingsBank.ico"
ICON_SHINHANSAVINGSBANK ICON "images/Financing/ShinhanSavingsBank.ico"
ICON_BULIMSAVINGSBANK ICON "images/Financing/BulimSavingsBank.ico"
ICON_BNKSAVINGSBANK ICON "images/Financing/BNKSavingsBank.ico"
ICON_JTCHINAESAVINGSBANK ICON "images/Financing/JTChinaeSavingsBank.ico"
ICON_SANGSANGINPLUSSAVINGSBANK ICON "images/Financing/SangSangInPlusSavingsBank.ico"
ICON_HANASAVINGSBANK ICON "images/Financing/HanaSavingsBank.ico"
ICON_YCSAVINGSBANK ICON "images/Financing/YCSavingsBank.ico"
ICON_SAMHOSAVINGSBANK ICON "images/Financing/SamhoSavingsBank.ico"
ICON_CENTRALSAVINGSBANK ICON "images/Financing/CentralSavingsBank.ico"
ICON_DONGWONJEILSAVINGSBANK ICON "images/Financing/DongwonJeilSavingsBank.ico"
ICON_OSBSAVINGSBANK ICON "images/Financing/OSBSavingsBank.ico"
ICON_JINJUSAVINGSBANK ICON "images/Financing/JinjuSavingsBank.ico"
ICON_DAEHANSAVINGSBANK ICON "images/Financing/DaehanSavingsBank.ico"
ICON_CHEONGJUSAVINGSBANK ICON "images/Financing/CheongjuSavingsBank.ico"
ICON_WOOREESAVINGSBANK ICON "images/Financing/WooreeSavingsBank.ico"
ICON_HANWHASAVINGSBANK ICON "images/Financing/HanwhaSavingsBank.ico"
ICON_SBISAVINGSBANK ICON "images/Financing/SBISavingsBank.ico"
ICON_DSAVINGSBANK ICON "images/Financing/DSavingsBank.ico"
ICON_DAEASAVINGSBANK ICON "images/Financing/DaeaSavingsBank.ico"
ICON_KIBO ICON "images/Government/Kibo.ico"
ICON_VACCINATIONHELPER ICON "images/Government/VaccinationHelper.ico"
ICON_TRUSBILL ICON "images/Government/Trusbill.ico"
ICON_CCRS ICON "images/Government/CCRS.ico"
ICON_SCOURT ICON "images/Government/Scourt.ico"
ICON_UNIPASS ICON "images/Government/Unipass.ico"
ICON_CMSEDI ICON "images/Government/CMSEDI.ico"
ICON_ETAXSEOUL ICON "images/Government/ETaxSeoul.ico"
ICON_EFAMILY ICON "images/Government/eFamily.ico"
ICON_ECAR ICON "images/Government/ECar.ico"
ICON_GHEALTH ICON "images/Government/GHealth.ico"
ICON_HOMETAX ICON "images/Government/Hometax.ico"
ICON_4INSURE ICON "images/Government/4Insure.ico"
ICON_NEXTSHARE ICON "images/Government/NextShare.ico"
ICON_GUBSPB ICON "images/Government/Gubspb.ico"
ICON_KORHOUSEFINANCE ICON "images/Government/KorHouseFinance.ico"
ICON_RESERVEFORCES ICON "images/Government/ReserveForces.ico"
ICON_GOV24 ICON "images/Government/Gov24.ico"
ICON_IROS ICON "images/Government/Iros.ico"
ICON_NHIS ICON "images/Government/NHIS.ico"
ICON_CARDROTAX ICON "images/Government/Cardrotax.ico"
ICON_MYDATAPORTAL ICON "images/Government/MyDataPortal.ico"
ICON_KSURECYBERCENTER ICON "images/Government/KSureCyberCenter.ico"
ICON_BILLINGONEPLUS ICON "images/Government/BillingOnePlus.ico"
ICON_KFTCVAN ICON "images/Government/KFTCVAN.ico"
ICON_KOREAGOVMAIL ICON "images/Government/KoreaGovMail.ico"
ICON_NARABILL ICON "images/Government/Narabill.ico"
ICON_W4C ICON "images/Government/W4C.ico"
ICON_WETAX ICON "images/Government/Wetax.ico"
ICON_KGEOPLATFORM ICON "images/Government/KGeoPlatform.ico"
ICON_RPSKENERGY ICON "images/Government/RpsKEnergy.ico"
ICON_KMRS ICON "images/Government/Kmrs.ico"
ICON_CMSJIROEDI ICON "images/Government/CMSJiroEdi.ico"
ICON_ECFS ICON "images/Government/Ecfs.ico"
ICON_WORK24 ICON "images/Government/Work24.ico"
ICON_Q-NET ICON "images/Government/Q-net.ico"
ICON_SAMSUNGCARD ICON "images/CreditCard/SamsungCard.ico"
ICON_LOTTECARD ICON "images/CreditCard/LotteCard.ico"
ICON_EHYUNDAICARD ICON "images/CreditCard/eHyundaiCard.ico"
ICON_BCCARD ICON "images/CreditCard/BCCard.ico"
ICON_HYUNDAICARD ICON "images/CreditCard/HyundaiCard.ico"
ICON_HANACARD ICON "images/CreditCard/Hanacard.ico"
ICON_WOORICARD ICON "images/CreditCard/Wooricard.ico"
ICON_NHCARD ICON "images/CreditCard/NHCard.ico"
ICON_SHINHANCARD ICON "images/CreditCard/ShinhanCard.ico"
ICON_KBKOOKMINCARD ICON "images/CreditCard/KBKookminCard.ico"
ICON_DBSECURITY ICON "images/Security/DBSecurity.ico"
ICON_KIWOOMSECURITY ICON "images/Security/KiwoomSecurity.ico"
ICON_MERITZSECURITY ICON "images/Security/MeritzSecurity.ico"
ICON_SHINYOUNGSECURITY ICON "images/Security/ShinyoungSecurity.ico"
ICON_EUGENESECURITY ICON "images/Security/EugeneSecurity.ico"
ICON_WOORIINVEST ICON "images/Security/WooriInvest.ico"
ICON_HISECURITY ICON "images/Security/HiSecurity.ico"
ICON_KYOBOSECURITY ICON "images/Security/KyoboSecurity.ico"
ICON_SAMSUNGSECURITY ICON "images/Security/SamsungSecurity.ico"
ICON_BOOKOOKSECURITY ICON "images/Security/BookookSecurity.ico"
ICON_SKSECURITY ICON "images/Security/SKSecurity.ico"
ICON_KBSECURITY ICON "images/Security/KBSecurity.ico"
ICON_PATH19289 ICON "images/Security/path19289.ico"
ICON_TRUEFRIENDSECURITY ICON "images/Security/TrueFriendSecurity.ico"
ICON_NHSECURITY ICON "images/Security/NHSecurity.ico"
ICON_MYASSETSECURITY ICON "images/Security/MyAssetSecurity.ico"
ICON_DAISHINSECURITY ICON "images/Security/DaishinSecurity.ico"
ICON_HYUNDAICARSECURITY ICON "images/Security/HyundaiCarSecurity.ico"
ICON_SHINHANSECURITY ICON "images/Security/ShinhanSecurity.ico"
ICON_IBKSECURITY ICON "images/Security/IBKSecurity.ico"
ICON_CAPESECURITY ICON "images/Security/CapeSecurity.ico"
ICON_HANASECURITY ICON "images/Security/HanaSecurity.ico"
ICON_EBESTSECURITY ICON "images/Security/EBestSecurity.ico"
ICON_HANWHASECURITY ICON "images/Security/HanwhaSecurity.ico"
ICON_MIRAEASSETSECURITY ICON "images/Security/MiraeAssetSecurity.ico"
ICON_SHINTERNETBANKBIZ ICON "images/Banking/SHInternetBankBiz.ico"
ICON_BNKKYUNGNAMBANKBIZ ICON "images/Banking/BnkKyungNamBankBiz.ico"
ICON_KDBBANK ICON "images/Banking/KDBBank.ico"
ICON_STANDARDCHARTEREDBANKBIZ ICON "images/Banking/StandardCharteredBankBiz.ico"
ICON_KOOKMINBANKBIZ ICON "images/Banking/KookminBankBiz.ico"
ICON_MGSAEMAEULBIZ ICON "images/Banking/MGSaemaeulBiz.ico"
ICON_DGBDAEGUBANKBIZ ICON "images/Banking/DGBDaeguBankBiz.ico"
ICON_BNKKYUNGNAMBANK ICON "images/Banking/BnkKyungNamBank.ico"
ICON_KEBHANABANK ICON "images/Banking/KEBHanaBank.ico"
ICON_KEBHANABANKBIZ ICON "images/Banking/KEBHanaBankBiz.ico"
ICON_SHINHANBANKBIZ ICON "images/Banking/ShinhanBankBiz.ico"
ICON_IBKBANK ICON "images/Banking/IBKBank.ico"
ICON_CITIBANKKOREA ICON "images/Banking/CitiBankKorea.ico"
ICON_STANDARDCHARTEREDBANK ICON "images/Banking/StandardCharteredBank.ico"
ICON_EPOSTBANKBIZ ICON "images/Banking/ePostBankBiz.ico"
ICON_BUSANBANKBIZ ICON "images/Banking/BusanBankBiz.ico"
ICON_KAKAOBANKBIZ ICON "images/Banking/KakaoBankBiz.ico"
ICON_NHINTERNETBANKBIZ ICON "images/Banking/NHInternetBankBiz.ico"
ICON_KAKAOBANK ICON "images/Banking/KakaoBank.ico"
ICON_NHINTERNETBANK ICON "images/Banking/NHInternetBank.ico"
ICON_BUSANBANK ICON "images/Banking/BusanBank.ico"
ICON_CITIBANKKOREABIZ ICON "images/Banking/CitiBankKoreaBiz.ico"
ICON_EPOSTBANK ICON "images/Banking/ePostBank.ico"
ICON_JEJUBANK ICON "images/Banking/JejuBank.ico"
ICON_JBBANKBIZ ICON "images/Banking/JbBankBiz.ico"
ICON_MGSAEMAEUL ICON "images/Banking/MGSaemaeul.ico"
ICON_GWANGJUBANKBIZ ICON "images/Banking/GwangjuBankBiz.ico"
ICON_JBBANK ICON "images/Banking/JbBank.ico"
ICON_KBANK ICON "images/Banking/KBank.ico"
ICON_KDBBANKBIZ ICON "images/Banking/KDBBankBiz.ico"
ICON_GWANGJUBANK ICON "images/Banking/GwangjuBank.ico"
ICON_SHINHANBANK ICON "images/Banking/ShinhanBank.ico"
ICON_WOORIBANK ICON "images/Banking/WooriBank.ico"
ICON_SMBCSEOUL ICON "images/Banking/SMBCSeoul.ico"
ICON_SHINHYUBBIZ ICON "images/Banking/ShinhyubBiz.ico"
ICON_IBKBANKBIZ ICON "images/Banking/IBKBankBiz.ico"
ICON_DGBDAEGUBANK ICON "images/Banking/DGBDaeguBank.ico"
ICON_SHINTERNETBANK ICON "images/Banking/SHInternetBank.ico"
ICON_KOOKMINBANK ICON "images/Banking/KookminBank.ico"
ICON_SHINHYUB ICON "images/Banking/Shinhyub.ico"
ICON_WOORIBANKBIZ ICON "images/Banking/WooriBankBiz.ico"
ICON_KBANKBIZ ICON "images/Banking/KBankBiz.ico"
ICON_SANRIMJOHAB ICON "images/Banking/SanrimJohab.ico"
ICON_KDBLIFE ICON "images/Insurance/KdbLife.ico"
ICON_EDUCAR ICON "images/Insurance/Educar.ico"
ICON_ACEINSURANCE ICON "images/Insurance/AceInsurance.ico"
ICON_NHLIFE ICON "images/Insurance/NHLife.ico"
ICON_CIGNALIFE ICON "images/Insurance/CignaLife.ico"
ICON_ABLLIFE ICON "images/Insurance/AblLife.ico"
ICON_AIGINSURANCE ICON "images/Insurance/AigInsurance.ico"
ICON_KBLIFE ICON "images/Insurance/KbLife.ico"
ICON_HANWHALIFE ICON "images/Insurance/HanwhaLife.ico"
ICON_HANALIFE ICON "images/Insurance/HanaLife.ico"
ICON_AXAINSURANCE ICON "images/Insurance/AxaInsurance.ico"
ICON_SEOULGUARANTYINSURANCE ICON "images/Insurance/SeoulGuarantyInsurance.ico"
ICON_MGINSURANCE ICON "images/Insurance/MgInsurance.ico"
ICON_HYUNDAIINSURANCE ICON "images/Insurance/HyundaiInsurance.ico"
ICON_MIRAEASSETLIFE ICON "images/Insurance/MiraeAssetLife.ico"
ICON_DONGYANGLIFE ICON "images/Insurance/DongyangLife.ico"
ICON_DBINSURANCE ICON "images/Insurance/DbInsurance.ico"
ICON_DGBLIFE ICON "images/Insurance/DgbLife.ico"
ICON_SAMSUNGFIRE ICON "images/Insurance/SamsungFire.ico"
ICON_SAMSUNGLIFE ICON "images/Insurance/SamsungLife.ico"
ICON_HEUNGKUKFIRE ICON "images/Insurance/HeungkukFire.ico"
ICON_CARROTINSURANCE ICON "images/Insurance/CarrotInsurance.ico"
ICON_KYOBOLIFE ICON "images/Insurance/KyoboLife.ico"
ICON_CARDIFLIFE ICON "images/Insurance/CardifLife.ico"
ICON_METLIFE ICON "images/Insurance/Metlife.ico"
ICON_CHUBBLIFE ICON "images/Insurance/ChubbLife.ico"
ICON_IBKANNUITYINSURANCE ICON "images/Insurance/IbkAnnuityInsurance.ico"
ICON_PRUDENTIALLIFE ICON "images/Insurance/PrudentialLife.ico"
ICON_DBLIFE ICON "images/Insurance/DbLife.ico"
ICON_HANWHAINSURANCE ICON "images/Insurance/HanwhaInsurance.ico"
ICON_EPOSTLIFE ICON "images/Insurance/ePostLife.ico"
ICON_HEUNGKUKLIFE ICON "images/Insurance/HeungkukLife.ico"
ICON_KYOBOLIFEPLANET ICON "images/Insurance/KyoboLifePlanet.ico"
ICON_MERITZFIRE ICON "images/Insurance/MeritzFire.ico"
ICON_SHINHANLIFE ICON "images/Insurance/ShinhanLife.ico"
ICON_CARDIFINSURANCE ICON "images/Insurance/CardifInsurance.ico"
ICON_LOTTEINSURANCE ICON "images/Insurance/LotteInsurance.ico"
ICON_FUBONHYUNDAILIFE ICON "images/Insurance/FubonHyundaiLife.ico"
ICON_AIALIFE ICON "images/Insurance/AiaLife.ico"
ICON_KBINSURANCE ICON "images/Insurance/KbInsurance.ico"
ICON_NHINSURANCE ICON "images/Insurance/NhInsurance.ico"
